<nav class="navbar-vertical navbar">
    <div class="vh-100" data-simplebar>
        <!-- Brand logo -->
        <a class="navbar-brand" asp-action="Index">
            <h1 class="display-6 mx-3">SecureExam</h1>
        </a>
        <!-- Navbar nav -->
        <ul class="navbar-nav flex-column" id="sideNavbar">
            <li class="nav-item">
                <a class="nav-link"
                   href="admin-dashboard.html#">
                    <i class="nav-icon fe fe-home me-2"></i>
                    Dashboard
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="admin-dashboard.html#">
                    <i class="nav-icon fe fe-book me-2"></i>
                    Exams
                </a>
            </li>
        </ul>
    </div>
</nav>