@inject IHttpContextAccessor HttpContextAccessor

@using exam_proctor_system.Models.Entities
<nav class="navbar-vertical navbar">
    <div class="vh-100" data-simplebar>
        <a class="navbar-brand" asp-action="Index">
            <h1 class="display-6 mx-3">SecureExam</h1>
        </a>

        <!-- COLLAPSIBLE NAVIGATION -->
        <div id="sidebar" class="sidebar bg-dark">
            <ul class="navbar-nav flex-column">
            @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == Role.Admin.ToString())
            {
                <li class="nav-item">

                    <a class="nav-link"
                       asp-controller="Home" asp-action="Dashboard">
                        <i class="nav-icon fe fe-home me-2"></i>
                        Dashboard
                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Exams" asp-action="Index">
                        <i class="nav-icon fe fe-book me-2"></i>
                        Exams
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Candidates" asp-action="Index">
                        <i class="nav-icon fe fe-book me-2"></i>
                        Candidates
                    </a>
                </li>
            }
            else{
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Candidates" asp-action="Exams" asp-route-candidateId="@HttpContextAccessor.HttpContext.Session.GetString("UserId")">
                        <i class="nav-icon fe fe-book me-2"></i>
                        Exams
                    </a>
                </li>
            }
        </ul>
        </div>
    </div>
</nav>